body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  width: 1440px;
  height: 1016px;
  left: 0px;
  top: 0px;

  background: #282b30;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.home-container {
  position: absolute;
  width: 960px;
  height: 843px;
  left: 240px;
  top: 142px;
  background: #1d2025;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 16px 24px 32px;
  position: absolute;
  width: 912px;
  height: 100px;
  left: 0px;
  top: -22px;

  background: #5c61f0;
}

.dropdown-container {
  position: absolute;
  width: 906px;
  height: 156px;
  left: 32px;
  top: 308px;
  background: #282b30;
  border: 1px solid #404348;
  box-sizing: border-box;
  border-radius: 4px;
}

.dropdown-container {
  display: flex;
}
.dropdown-1 {
  position: absolute;
  width: 250px;
  height: 36px;
  left: 30px;
  top: 25px;
  background: #282b30;
  border: 1px solid #404348;
  box-sizing: border-box;
  border-radius: 4px;
}

.dropdown-2 {
  position: absolute;
  width: 250px;
  height: 36px;
  left: 310px;
  top: 25px;
  background: #282b30;
  border: 1px solid #404348;
  box-sizing: border-box;
  border-radius: 4px;
}

.dropdown-3 {
  position: absolute;
  width: 250px;
  height: 36px;
  left: 590px;
  top: 25px;
  background: #282b30;
  border: 1px solid #404348;
  box-sizing: border-box;
  border-radius: 4px;
}

.dropdown-select {
  width: 250px;
  height: 36px;
  left: 288px;
  top: 490px;
  background: #404348;
  border: 1px solid #404348;
  box-sizing: border-box;
  border-radius: 4px;
}

.dropdown-option {
  position: absolute;
  left: 20%;
  right: 62.64%;
  top: 52.95%;
  bottom: 11.91%;
  background: #282b30;
  border: 1px solid #404348;
  box-sizing: border-box;
  border-radius: 4px;
}

.input-type {
  /* Frame 66 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: static;
  width: 762px;
  height: 10px;
  left: 32px;
  background: #4338ca;
  border-radius: 4px;

  /* Inside auto layout */
}
.label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}
